/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  button#loginButton {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  #login-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1;
  }
  
  #login-container input,
  #login-container button {
    margin: 5px;
  }
  
  .hidden {
    display: none;
  }
  
  #calendar {
    width: 100%;
    border-collapse: collapse;
  }
  
  #calendar th,
  #calendar td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .slot {
    cursor: pointer;
  }
  
  .booked {
    background-color: #aaffaa;
  }
  
  #loginButton.logged-in {
    top: 60px;
  }
  